@model Domain.ViewModels.ParticipantRegistrationViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Registration</h4>
<hr />
<form asp-action="Create" method="post">
    <div>
        <label>First Name:</label>
        <input asp-for="Participant.FirstName" />
    </div>
    <div>
        <label>Last Name:</label>
        <input asp-for="Participant.LastName" />
    </div>
    <div>
        <label>Email:</label>
        <input asp-for="Participant.Email" />
    </div>
    <div>
        <label>Phone Number:</label>
        <input asp-for="Participant.PhoneNumber" />
    </div>
    <div>
        <label>Date of Birth:</label>
        <input asp-for="Participant.DateOfBirth" />
    </div>
    <div>
        <label>Gender</label>
        <label asp-for="Participant.Gender" class="control-label"></label>
        <select asp-for="Participant.Gender" asp-items="ViewBag.GenderList" class="form-control"></select>
    </div>
    <input type="hidden" name="EventId" value="@Model.EventId"></input>
    <button type="submit">Submit</button>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    let eventIndex = 1;
    document.getElementById('add-event').addEventListener('click', function() {
        let container = document.getElementById('events-container');
        let newEventField = `<div>
            <label>Select Event:</label>
            <select name="Registrations[${eventIndex}].EventId" asp-items="@ViewBag.Events"></select>
        </div>`;
        container.insertAdjacentHTML('beforeend', newEventField);
        eventIndex++;
    });
</script>


