@model Domain.ViewModels.ParticipantRegistrationViewModel

@{
ViewData["Title"] = "Create";
Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    label{
        color: #5F6F65;
        font-size: 1.1rem;
        font-weight: bolder;
    }
    h4{
        color: #5F6F65;
        font-weight: bolder;
    }
    .btn{
        background-color: #5F6F65;
        color: #e1e8d7;
    }
</style>
<div class="container p-4">
    <h4 class="text-muted text-center">Fill out the participant information below</h4>
    <hr class="mb-4" />

    <div class="container">
        <form asp-action="Create" asp-controller="Registration" method="post" class="row g-3">
            <div class="col-md-6">
                <label asp-for="Participant.FirstName" class="form-label">First Name</label>
                <input asp-for="Participant.FirstName" class="form-control" placeholder="Enter first name" />
                <span asp-validation-for="Participant.FirstName" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Participant.LastName" class="form-label">Last Name</label>
                <input asp-for="Participant.LastName" class="form-control" placeholder="Enter last name" />
                <span asp-validation-for="Participant.LastName" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Participant.Email" class="form-label">Email</label>
                <input asp-for="Participant.Email" class="form-control" type="email" placeholder="Enter email" />
                <span asp-validation-for="Participant.Email" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Participant.PhoneNumber" class="form-label">Phone Number</label>
                <input asp-for="Participant.PhoneNumber" class="form-control" placeholder="Enter phone number" />
                <span asp-validation-for="Participant.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Participant.DateOfBirth" class="form-label">Date of Birth</label>
                <input asp-for="Participant.DateOfBirth" class="form-control" type="date" />
                <span asp-validation-for="Participant.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Participant.Gender" class="form-label">Gender</label>
                <select asp-for="Participant.Gender" asp-items="ViewBag.GenderList" class="form-select">
                    <option value="">Select Gender</option>
                </select>
                <span asp-validation-for="Participant.Gender" class="text-danger"></span>
            </div>

            <input type="hidden" name="EventId" value="@Model.EventId"></input>

            <div class="col-12 text-center">
                <button type="submit" class="btn btn-dark btn-lg">Submit</button>
            </div>
        </form>

    </div>
</div>


